.flat-black-button {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border: none;
}

.flat-black-button-content {
  padding: 2%;
  border: 1px solid black;
}
