.login-btn {
  background-color: #4caf50; /* Change to your desired color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.logout-btn {
  background-color: #774caf; /* Change to your desired color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.login-btn:hover {
  background-color: #3e8e41; /* Change to your desired hover color */
}
